
#page-dashboard:before {
  z-index: 0;
  content: " ";
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3a76e4;
  height: 200px;
}

html,body,#body,#app-container,#loader-container {
  height:100% !important;
}

.pincode-input-container  {
  .pincode-input-text    {
    padding: 0 !important;
    margin: 0 6px!important;
    text-align: center!important;
    border: 2px solid #c1c1c1!important;
    background: transparent!important;
    width:28px!important;
    height: 50px!important;
    font-size: 40px!important;
    font-family: arial!important;
    color: #424040!important;
  }
  :nth-child(4n) {
    margin-left:20px!important;
  }

  .pincode-input-text:focus
  {
    outline:none!important;
    box-shadow:none!important;
  }
}